/* --- PROGRESSO --- */
.progresso {
  background: var(--fundo-secundario);
  border-radius: 10px;
  height: 10px;
  /* Espaço vertical reduzido após a barra de progresso */
  margin-bottom: 10px;
  overflow: hidden;
}

#barraProgresso {
  height: 100%;
  background: var(--azul);
  border-radius: 10px;
  width: 0%;
  transition: width 0.4s ease-in-out;
}

/* --- ESTILOS DAS ÁREAS DE CONTEÚDO E QUIZ --- */
.quiz-container {
  max-width: 800px;
  width: 100%;
}

.pergunta-card h2 {
  font-size: 18px;
  color: var(--texto-secundario);
  /* Remove o espaço superior e inferior do código da questão */
  margin: 0;
}

.pergunta-card h3 {
  font-size: 24px;
  font-weight: 600;
  /* Remove o espaço superior e inferior da banca */
  margin: 0;
}

#pergunta {
  font-size: 20px;
  border-top: 1px solid var(--fundo-secundario);
  /* Reduz o espaçamento interno superior, deixando um respiro após a linha */
  padding-top: 10px;
  /* Reduz o espaçamento externo superior, para aproximar da banca */
  margin-top: 5px;
}
